<div style="background-color: grey;">
    <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="../css/bootstrap.css">
            <link rel="stylesheet" href="../vendor/linericon/style.css">
          <link rel="stylesheet" href="../css/themify-icons.css">
          <link rel="stylesheet" href="../vendor/owl-carousel/owl.theme.default.min.css">
            <link rel="stylesheet" href="../vendor/fontawesome/css/all.min.css">
            <link rel="stylesheet" href="../vendor/owl-carousel/owl.carousel.min.css">
            <link rel="stylesheet" href="../css/magnific-popup.css">
            <link rel="stylesheet" href="../vendor/nice-select/css/nice-select.css">
            <!-- main css -->
            <link rel="stylesheet" href="../css/style.css">
            
            <style>
                img{
                    width: 500px;
                    height: 500px;
                }
                h1{
                    font-size:70px;
                    color: white;
                    margin-left: 200px;
                }
                .hero-info{
                    margin-top:50px;
                }
                h3{
                    font-size: 50px;
                    color: white;
                }
                ul{
                    padding: 10px;
                }
                span{
                    font-size: 30px;
                }
            </style>
        </head>
        <div style="margin-top: 100px; margin-left: 80px; color: white;">
                <section ng-if="!vm.auth.isAuthenticated()">
                    YOU NEED TO LOGIN FIRST.
                </section>
    <section ng-if="vm.auth.isAuthenticated()">
            <section class="hero-section spad">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero-text">
                                            <h1>Seller Info</h1>
                                        </div>
                                        <div class="hero-info">
                                            
                                            <ul>
                                                <div style="margin-top: 20px;">
                                                        <div style="margin-bottom: 20px;">
                                                                <li><span>Name:  </span></li>
                                                                <p ng-if="vm.username" style="color:black; font-size: 30px;">{{vm.username}}</p>
                                                                </div>
                                                <div style="margin-bottom: 20px;">
                                                <li><span>Address:  </span></li>
                                                <p ng-if="vm.address" style="color:black; font-size: 30px;">{{vm.address}}</p>
                                                
                                                </div>
                                                <div style="margin-bottom: 20px;">
                                                <li><span>E-mail:  </span></li>
                                                <a href= mailto:{{vm.em}} style="color:black; font-size: 30px;">{{vm.em}}</a>
                                                </div>
                                                <div style="margin-bottom: 20px;">
                                                <li><span>Phone: </span></li>
                                                <p ng-if="vm.phone"><a href=tel:{{vm.phone}} style="color:black ; font-size: 30px;">{{vm.phone}}</a></p>
                                                
                                                </div>
                                            </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <br/><br/><br/><br/><br/>

                                        <div style="text-align: center; margin-bottom: 20px">
                                            <button id="btn12" class="primary-btn" onclick="ref()" style="background-color: tomato;">Refresh</button>
                                            </div>
                                            <script>
                                              function ref(){
                                                //getElementById(btn12).style.display = none;
                                                window.location.href="/sellerinfo";
                                              }
                                            </script>
                                        <figure class="hero-image">
                                                <p ng-if="vm.picture"><img src="{{vm.picture}}"></p>
                                                <p ng-if="!vm.picture"><img src="https://fertilitynetworkuk.org/wp-content/uploads/2017/01/Facebook-no-profile-picture-icon-620x389.jpg"></p>
                                        </figure>
                                    </div>
                                    
                                    <div>
                                        <script>
                                            function getMap(){
                                                window.location.href = "https://www.google.com/maps/?q="+localStorage.getItem('a')+","+localStorage.getItem('b');
                                            }
                                            </script>
                                            <button onclick="getMap()" style="background-color: tomato;">Redirect to location</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
    </section>
    <br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    